h1 Hello World
hr

h2 Rendered react components:
p = react_component('Panel1', title: 'Coffeescript component', body: 'component body!!!')
p = react_component('Panel2', title: 'ES6 component', body: 'component body!!!')
p = react_component('Panel3', title: 'JSX component', body: 'component body!!!')

= form_for(@message, remote: true) do |f|
  h2 ActionCable Chat Demo:
  hr
  #message-container
  hr
  = f.text_field :body, placeholder: 'enter message...'
