doctype html
html
  head
    title Rails 5 App
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = action_cable_meta_tag
    = javascript_include_tag 'cable'

  body
    = yield
